

.bottom-chart {
	min-height: 415px;
}

.top-chart {
	max-height: 130px;
	min-height: 130px;
}


iframe {
    border: 0;
    width: 100%;
    height: 415px;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}


.brand {
    margin-left: 0;
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    color: #fbfbfb;
    text-decoration: none;
}
a:hover{
	color:#979B97;
	text-decoration: none;
}


.article-text  {
font-size: 35px;
}


.article-link {
    color: #4C4C4C;
    font-family: monospace;
    font-size: 35px;
}

.tweet-text {
    color: black;
    margin: 0 0 0px;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.article-table th, .article-table td {
border-top: none;
line-height: 35px;
}
