<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="layout :: htmlhead"></head>
  
  
<body class="application">



  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="./"><i class="fa fa-lg fa-bar-chart"> Microservices Demo</i> </a>
      </div>
    </div>
  </div>
  
  

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-6 col-md-5">
        <div class="chart-wrapper">
          <div class="chart-title">
            <i class="fa fa-lg fa-thumbs-o-up"> Topic Sentiment</i>
          </div>
          <div class="chart-stage top-chart">
            <div id="grid-1-1">
            <iframe th:src="${SENTIMENT_URL}"></iframe>
            </div>
          </div>
          <div class="chart-notes">
            Legend: GREEN-Good, RED-Bad, BLUE-Neutral 
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-7">
        <div class="chart-wrapper">
          <div class="chart-title">
 			<i class="fa fa-lg fa-newspaper-o"><a id='article-title' target ='_blank' href='/'> Headline News</a></i> 
 			</div>
          <div class="chart-stage top-chart" id='article'>
          </div>
          <div class="chart-notes">
            Latest headlines found on topic
          </div>
        </div>
      </div>

<!-- end of three -->
      <div class="col-sm-6 col-md-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            <i class="fa fa-lg fa-users"> LinkedIn Profiles</i> 
          </div>
          <div class="chart-stage bottom-chart">
            <iframe th:src="${PROFILES_URL}"></iframe>
          </div>
          <div class="chart-notes">
            LinkedIn users found on topic
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="chart-wrapper">
          <div class="chart-title">
        <i class="fa fa-lg fa-twitter"> Twitter Stream</i> 

          </div>
          <div class="chart-stage bottom-chart">
            <iframe th:src="${TIMELINE_URL}"></iframe>
          </div>
          <div class="chart-notes">
            Displaying tweets from RabbitMQ source
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-5">
        <div class="chart-wrapper">
          <div class="chart-title">
                      <i class="fa fa-lg fa-slack"> Hashtag Distribution</i> 

          </div>
          <div class="chart-stage bottom-chart">
            <iframe th:src="${BUBBLES_URL}"></iframe>
          </div>
          <div class="chart-notes">
            Displaying hashtags distribution from RabbitMQ source
          </div>
        </div>
      </div>
<!-- end of three -->

    
    </div>



    <hr></hr>

    <p class="small text-muted">Built with &#9829; by <a href="https://pivotal.io">Pivotal Software, Inc</a></p>

  </div>
  
      <!-- JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
  <script th:src="@{/assets/js/holder.js}"></script>
  <script>
    Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
  </script>
  <script th:src="@{/assets/js/keen.min.js}"></script>
  
  <script th:src="@{/assets/js/dashboard.js}"></script>
      
<script th:inline="javascript">
/*<![CDATA[*/

var newsapi = [[${NEWS_API}]];


//Make the link to JSON data model
var headline =  document.getElementById("article-title");
headline.setAttribute("href", newsapi);


//Populate the headline article
function getArticle(){
    console.log("Getting article...")
    $.get(newsapi, function(data){
            //console.log(data);
            var article = document.getElementById("article");
            $("#article").empty();

            var tbl = document.createElement("table");
            tbl.className = 'table article-table';
            var tblBody = document.createElement("tbody");

            var obj = JSON.parse(data);

            var url = obj['url'];
            var title = obj['title'];
            var row = document.createElement("tr");
            var cell = document.createElement("td");

            var a = document.createElement("a");
            a.className = "article-link";
            var text = document.createTextNode(title);
            text.className = "article-text";
            a.appendChild(text);
            a.setAttribute("href", url);
            a.setAttribute("target", "_parent");
            cell.appendChild(a);
            row.appendChild(cell);
            tblBody.appendChild(row);
            tbl.appendChild(tblBody);
            article.appendChild(tbl);
            $("#article").fadeIn();
    });
}
window.onload = function() {
    getArticle();
}
setInterval(getArticle, 5000);


/*]]>*/
</script>
   



</body>
   
</html>